html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.theme-icons{
  color: white;
  cursor: pointer;
 }
 
.register {
  margin: 2rem auto 0;
  width: 30rem;
  border-radius: 15px;
  background-color: rgb(193, 191, 191);
  padding: 10px;
}

.register.theme-dark {
  background-color: #212529;
  color: #eeeeee;
}

.register.theme-dark input,
.task-input-field.theme-dark input,
.sidebar.theme-dark input {
  background-color: #4c505e !important;
  color: #eeeeee;
}

.register input {
  background-color: #eeeeee;
}

.form-lower {
  display: flex;
  justify-content: space-between;
}

.navbar-links {
  color: #ffffff;
  text-decoration: none;
  font-weight: 350;
}

.navbar-brand:hover,
.navbar-links:hover {
  color: rgb(208, 208, 212);
}

.notification {
  margin-top: 3rem;
  height: 5.5rem;
}

.modal {
  top: 30vh;
  right: 5vw;
}

.modal-title {
  font-weight: 500;
}

.modal .btn-close {
  box-shadow: none !important;
}

svg {
  margin-right: 0.5rem;
}

svg:focus {
  outline: none;
}

.tooltip {
  border-radius: 10px !important;
  padding: 3px 10px !important;
  background-color: #575c6e !important;
}

.tasksToolbar-heading {
  margin-top: 5.5rem;
  height: 3rem;
}

.tasksToolbar-heading.theme-dark,
.sidebar.theme-dark a,
.sidebar.theme-dark .delete-list-icon {
  color: #eeeeee;
}

.tasksToolbar-heading > div,
.task-checkbox {
  display: flex;
  align-items: center;
}

input {
  box-shadow: none !important;
  border: none !important;
  margin: 0.625rem auto;
}

.task-input-field > div {
  z-index: 0;
}

.task-input-field input {
  background-color: #eeeeee !important;
}

.sidebar {
  top: 0;
  margin-top: 3rem;
  width: 12.5rem !important;
  position: fixed;
  height: 100%;
  z-index: 1;
  background-color: #eeeeee !important;
  border-right: 2px solid rgb(236, 233, 233);
}

.sidebar.theme-dark {
  border-right: 2px solid #212529;
  background-color: #212529 !important;
}

.sidebar li {
  width: 10.4rem;
  border-radius: 0.313rem;
  margin-right: 0.5rem;
}

.sidebar.theme-dark li:hover,
.sidebar.theme-dark #recycle-bin li:hover {
  background-color: black !important;
}

.sidebar a {
  width: 12.5rem;
}

.predefined-lists {
  margin-top: 0.75rem;
}

.user-generated-lists {
  position: absolute;
  top: 110px;
  bottom: 50px;
  overflow-y: auto;
  margin-bottom: 3.125rem;
  margin-top: 1rem;
}

.user-generated-lists li,
.predefined-lists li,
.user-generated-lists li .delete-list-icon {
  margin-top: 0.625px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

#recycle-bin li {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 12.5rem;
  background-color: #dddddd !important;
}

#recycle-bin li:hover {
  background-color: #cac9c9 !important;
}

.sidebar.theme-dark #recycle-bin li {
  background-color: rgb(27, 25, 25) !important;
}

.task-container-wrapper,
.recycle-bin-container-wrapper {
  margin-top: 2.563rem;
  position: absolute;
  top: 9.75rem;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
}

.recycle-bin-container-wrapper {
  margin-top: auto;
}

.tasks-container {
  position: unset;
  display: flex;
  flex-direction: column-reverse;
}

.task-item {
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  width: 100%;
  margin: 0.313rem auto;
  background-color: #eeeeee !important;
  display: flex !important;
  border-radius: 0.375rem;
}

.task-item.theme-dark {
  background-color: #4c505e !important;
  color: #eeeeee;
}

.task-item.theme-dark:hover,
.task-input-field.theme-dark input:hover {
  background-color: #42424a !important;
  color: #eeeeee;
}

.task-item svg:hover,
.delete-list-icon:hover {
  color: #78bafd !important;
}

.task-input-field input:hover,
.task-item:hover,
.sidebar li:hover {
  background-color: #dddddd !important;
}

.taskItem-text,
.sidebar-list-name {
  word-break: break-word;
  margin-right: 0.5rem;
}

.edit-and-delete-buttons,
.restore-and-delete-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* changing color of input's placeholder */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #78bafd !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #78bafd !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #78bafd !important;
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8886;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  .task-input-field.open-sidebar {
    margin-left: 12.5rem !important;
    width: auto;
  }

  .tasksToolbar-heading.open-sidebar {
    margin-left: 12.5rem !important;
  }

  .task-container-wrapper.open-sidebar,
  .recycle-bin-container-wrapper.open-sidebar {
    width: auto;
    left: 12.5rem;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .task-input-field.open-sidebar {
    pointer-events: none;
  }
}

@media screen and (max-width: 500px) {
  .register {
    width: 100%;
  }
}
