body {
  padding-top: 5.125rem;
  overflow: hidden;
}

svg {
  margin-right: 0.5rem;
}

.tasksToolbar-heading {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.tasksToolbar-heading.open-sidebar {
  margin-left: 12.5rem !important;
}

.task-input {
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: none !important;
  border: none !important;
  background-color: #eeeeee !important;
}

.task-input-field.open-sidebar {
  margin-left: 12.5rem !important;
  width: auto;
}

.sidebar {
  top: 0;
  margin-top: 3.5rem;
  width: 12.5rem !important;
  position: fixed;
  height: 100%;
  z-index: 1;
}

.sidebar-list{
  height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-header {
  width: 10rem;
  height: 3rem;
  position: sticky;
  top: 0;
}

.close-button {
  text-align: right;
  color: #878b8b;
}

.close-button:hover {
  color: rgb(59, 59, 65) !important;
}

.sidebar input {
  box-shadow: none !important;
  height: 40px;
  margin: 10px auto;
}

.tasks-container {
  margin-top: 1rem;
  overflow-y: auto;
  max-height: 55vh;
  display: flex !important;
  flex-direction: column-reverse;
}

.tasks-container.open-sidebar {
  margin-left: 12.5rem !important;
  width: auto;
}

.task-item {
  padding: 0.375rem 0.75rem;
  background-color: #eeeeee !important;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
}

.task-item svg:hover {
  color: rgb(117, 117, 249) !important;
}

.task-input:hover,
.task-item:hover {
  background-color: #dddddd !important;
  color: #2c3333;
}

.taskItem-text {
  word-break: break-word;
  margin-right: 0.5rem;
}

.edit-and-delete-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* changing color of input's placeholder */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(117, 117, 249) !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(50, 50, 250) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(50, 50, 250) !important;
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8886;
  border-radius: 10px;
}
