body .container {
  margin-top: 3%;
}

.navbar {
  background-color: aqua;
}

.task-input {
  margin-bottom: 10px;
  box-shadow: none !important;
  border: none;
  background-color: #eeeeee !important;
}

.To-Do-items {
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: left;
  border: none;
  background-color: #eeeeee !important;
  display: flex;
  border-radius: 0.375rem;
  cursor: auto;
}

.form-check-input {
  /* background-color: #eee */
  margin-right: 10px;
  border: 0.5px solid rgb(85, 120, 246);
  border-radius: 50% !important;
  box-shadow: none !important;
}

.task-input:hover,
.To-Do-items:hover {
  background-color: #dddddd !important;
  color: #2c3333;
}

.form-label {
  font-weight: 400;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(117, 117, 249) !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(50, 50, 250) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(50, 50, 250) !important;
}

svg {
  margin-right: 0.5rem;
}

svg:hover {
  color: rgb(117, 117, 249) !important;
}

.edit-and-delete {
  right: 0;
  margin-left: auto;
}
