body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

svg {
  margin-right: 0.5rem;
}

.tasksToolbar-heading {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  height: 56px;
}

input {
  box-shadow: none !important;
  border: none !important;
  margin: 10px auto;
}

.task-input {
  background-color: #eeeeee !important;
}

.sidebar {
  top: 0;
  margin-top: 3.5rem;
  width: 12.5rem !important;
  position: fixed;
  height: 100%;
  z-index: 1;
  background-color: #eeeeee !important;
}

.sidebar-list {
  position: absolute;
  top: 160px;
  bottom: 0;
  overflow-y: auto;
  width: 11.5rem;
  margin-bottom: 50px;
  margin-top: 16px;
}

.close-button {
  text-align: right;
  color: #878b8b;
}

.close-button:hover {
  color: rgb(122, 122, 125) !important;
}

.task-container-wrapper {
  margin-top: 41px;
  position: absolute;
  top: 156px;
  bottom: 0px;
  overflow-y: auto;
  width: 100%;
}

.tasks-container {
  position: unset;
  display: flex;
  flex-direction: column-reverse;
}

.task-item {
  padding: 0.375rem 0.75rem;
  margin: 5px auto;
  height: 40px;
  width: 100%;
  background-color: #eeeeee !important;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
}

.task-item svg:hover {
  color: rgb(117, 117, 249) !important;
}

.task-input:hover,
.task-item:hover {
  background-color: #dddddd !important;
  color: #2c3333;
}

.taskItem-text {
  word-break: break-word;
  margin-right: 0.5rem;
}

.edit-and-delete-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* changing color of input's placeholder */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(117, 117, 249) !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(50, 50, 250) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(50, 50, 250) !important;
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8886;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .task-input-field.open-sidebar {
    margin-left: 12.5rem !important;
    width: auto;
  }

  .tasksToolbar-heading.open-sidebar {
    margin-left: 12.5rem !important;
  }

  .task-container-wrapper.open-sidebar {
    width: auto;
    left: 12.5rem;
    right: 0;
  }
}
